body{
    background-color: #fce9b0;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.row {

    display: flex;
    flex-wrap: wrap;
  flex-direction:row;
  margin: 3%;
  padding-bottom: 0;
  justify-content: space-evenly;
}
.divtitle{

  width: 32%;
  text-align: left;
  
  
  }
  
  .divlogo{
  
      text-align: center;
      width: 32%;
  }
  .divlogo img{
  width: fit-content;
  height: 85px;
  
  }
  
  .divnav {
      
      text-align: center;
      width: 32%;
  
  
  }


header{
display: flex;
height: 50px;
background-color: white;
}

header{
  margin: 0;
  padding: 0;
  
 
  background: #ffffff;
  color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}




body > header {
    display: flex;
    justify-content: space-between;

 
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }

}

section#hero > img{
    max-width: 500px;
    margin-top: 30px;
}

section#hero > h2{
    font-family: cursive;
    text-decoration:underline;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
  
.flex-container > div {
    padding-top: 0%;
    padding-bottom: 0%;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
   
}

.flex-container > div > img{
    width: 200px;
    height: 250px;
}

.flex-container > div > p{
    margin-top: 5%;
    font-size: 20px;
    padding: 12px;
    margin-bottom: -16px;
    font-size: 21px;
    font-weight: 200;
    line-height: 25px;
}

.container{
	max-width: 1170px;
	margin:auto;
}

ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 5%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}



















/*responsive


.fcol1 {
    
    display: block;
    text-align: center;
 width: 33.3%;
  background-color: DarkSalmon;
  color: rgb(160, 29, 29);
  }
  .fcol2 {
    display: block;
    text-align: center;
  width: 33.3%;
  color: rgb(160, 29, 29);
  }
  .fcol2 img{
      height: 85px;
      width: 100%;
      margin-top: 15px;

  }



  .fcol3{
    display: block;
    text-align: center;
    width: 33.3%;
  background-color: DarkSalmon;
  color: rgb(160, 29, 29);
  }

 .m0{
     margin: 0%;
     padding: 0%;
     background-color: rgb(255, 236, 196);
 }
