*{
    box-sizing: border-box;


}  
 /*FONT FAMILY & STYLES*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Amatic SC', serif;
    font-weight: bold;
    font-variant: normal;
    color: #16343e;
    text-align: center;
}

h1{
    font-size: 3rem;
}

p {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 1rem;
    color: #16343e;
    text-align: center;
}


.row {

      display: flex;
      flex-direction:row;
      margin: 3%;
      padding: 0;
      justify-content: space-evenly;
}

body{

    background-color:#fce9b0;
    
}


.divtitle{

width: 32%;
text-align: left;


}

.divlogo{

    text-align: center;
    width: 32%;
}


.divlogo img{
width: fit-content;
height: 85px;

}


.divnav {
    
    text-align: center;
    width: 32%;


}

.float{
    float: right;
    padding-top: 10%;
}


.burger{
  width: 45px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
 

}


#header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #080807;  
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 3%;
}

.container{
	background-image: url(img/hero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;

}


ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 5%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
}

@media(max-width: 574px){
    .footer-col{
      width: 100%;
}